---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import gitHubImage from "../assets/github.svg";
import linkedinImage from "../assets/linkedin.svg";
---

<html class="dark" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body
    class="bg-white dark:bg-gray-800 before:absolute before:top-0 before:left-0 before:right-0 before:h-1 before:bg-gradient-to-r before:from-blueGradient before:to-pinkGradient"
  >
    <div
      class="grid grid-cols-1 grid-flow-row-dense max-w-6xl mx-auto p-5 lg:p-10 min-h-screen"
    >
      <header class="flex justify-between">
        <a
          href="/"
          style="-webkit-background-clip: text"
          class="bg-clip-text text-transparent bg-gradient-to-r from-blueGradient to-pinkGradient"
        >
          {"{KCA}"}
        </a>
        <ul class="flex gap-6 text-black dark:text-white">
          <li><a href="/about">About</a></li>
          <li><a href="/">Lab</a></li>
          <li>
            <img class="w-6" src={gitHubImage} alt="Github logo" />
          </li>
          <li>
            <img class="w-6" src={linkedinImage} alt="Linkedin logo" />
          </li>
        </ul>
      </header>
      <main class="dark:text-white w-full mt-10 md:mt-20">
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    min-height: 100vh;
  }

  body {
    min-height: 100vh;
  }
</style>
